#header-nav {
  background-color: #ddd;
  border-bottom: black 5px solid;
}

.navbar-brand > h1 {
  margin-top: -5px;
}

div#collapsable-nav > ul > li:nth-child(1) {
  border-top: black 3px solid;
  border-bottom: black 3px solid;
}

div#collapsable-nav > ul > li:nth-child(2) {
  border-bottom: black 3px solid;
}

#nav-list {
  background-color: cyan;
}

#collapsable-nav {
  font-weight: bold;
  color: black;
}

section > div > h3 {
  font-weight: bold;
}

.menu-item {
  margin: 20px auto;
  padding: 5px 15px;
  background-color: #ddd;
}
